<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}EHBHotel{% endblock %}</title>
</head>

<body>
    <div id="content">
        {% block content %}
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="username">
                <input type="password" name="password">
                <input type="submit">
            </form>
        {% endblock %}
    </div>
</body>
</html>
