#aboutText {
width: 680px;
margin:0 auto;
margin-top:60px;
text-align: justify
}

#aboutText b {
font-size: 24px;
}

#aboutText p a{
color: #568a8f;
font-weight:800;
text-decoration:none;
}

#aboutSocial {
width:149px;
margin:0 auto;
margin-top:80px;
margin-bottom:120px;
}

#aboutSocial i {
margin: 10px;
}

#aboutSocial i:hover {
color:#568a8f;
}

@media screen and (max-width: 580px){
#aboutText {
width: auto;
}
}