#createContainer {
    display: inline-block;
    text-align: center;
    width: 100%;
}

#createDiv {
    margin: auto;
    text-align: center;
    background-color: #f9f6ef;
    width: 60%;
    padding: 35px;
}

#createFormDiv {
    text-align: right;
    width: 580px;
}

#createFormDiv p {
    padding: 0px;
    margin: 0px;
   /*margin-right: 10px;*/
}

/*#createFormDiv input, textarea {
    width: auto;
    margin: auto;
}*/