#createContainer {
margin: 70px auto 140px auto;
width: 650px;
height: auto;
text-align: center;
}

textarea, #inputTitle {
padding:6px;
width:650px;
border-radius:5px;
margin-bottom: 30px;
}

#inputParagraph {
height:150px;
}

#inputTags {
height:50px;
}

.btn {
margin-left:275px;
margin-top:10px;
cursor:pointer;
}

#submitBtn i {
margin-right:5px;

}


@media screen and (max-width: 580px){

#createContainer {
margin: 0 auto;
width: 230px;
padding-top:90px;
}

textarea, #inputTitle {
width: 220px;
}

#inputParagraph {
height:350px;
}

#inputTags {
height:120px;
}

.btn {
margin-left: 70px;
}