#detail {
margin: 40px auto 120px auto;
width: 650px;
height: auto;
text-align: center;
}

.clearfix {
clear: both;
}

#detail {
}

#header {
}

#header p b {
font-size:38px;
font-weight:900;
margin-right:8px;
}

#publishDate{
display:block;
}

#tags{
width:650px;
margin:0 auto;
text-align:center;
margin-bottom:80px;
}

#tags a{
float:left;
margin-left:16px;
font-size:18px;
font-weight: 800;
color:#002828;
text-decoration:none;
}

.hashTag{
color:#568a8f;
margin-right:3px;
}

.content {
margin-bottom:30px;
}

.paragraph {
float: left;
text-align:justify;
width:100%;
}

.formparagraph {
margin-top:40px;
}

textarea {
padding:6px;
height:150px;
width:650px;
resize:none;
border-radius:5px;
}

.btn {
margin-left:275px;
margin-top:0px;
}

#submitBtn{
margin-top:20px;
}