#detail {
margin: 40px auto 140px auto;
width: 650px;
height: auto;
text-align: center;
}

.clearfix {
clear: both;
}

#detail {
margin-top:60px;
}

#header {
}

#header p b {
font-size:38px;
font-weight:900;
margin-right:8px;
}

#publishDate{
display:block;
}

#tags{
text-align:center;
margin-bottom:30px;
}

#tags a{
margin-left:16px;
font-size:18px;
font-weight: 800;
color:#002828;
text-decoration:none;
}

.hashTag{
color:#568a8f;
margin-right:3px;
}

.content {
margin-bottom:30px;
}

.paragraph {
float: left;
text-align:justify;
width:100%;
}

.formparagraph {
margin-top:40px;
}

textarea {
padding:6px;
height:150px;
width:650px;
border-radius:5px;
}

.btn {
margin-left:275px;
border:0px solid #568a8f;
margin-top:0px;

}

.btn:hover {
background-color:rgba(86, 138, 143, 0);
}

#submitBtn{
border:1px solid #568a8f;
margin-top:20px;
cursor:pointer;
}

#submitBtn:hover{
background-color:rgba(86, 138, 143, 0.1);
}

#submitBtn i {
margin-right:5px;

}
