.masonry {
margin: 0 auto;
margin-top:40px;
margin-bottom:150px;
}

.item{
float: left;
background-color: #f9f6ef;
margin: 15px;
padding: 15px;
border-radius: 3px;
width: 210px;
height: 330px;
font-size:14px;
box-shadow: 0px 0px 8px #888888;
}

.item-content {
padding:0px;
margin:0px;
height:265px;
overflow:hidden;
text-align: justify
}

.item.is-expanded{
width: 480px;
height: 720px;
z-index: 2;
}

.item-content b{
font-size:16px;
}

.paragraphRest {
display: none;
}

.paragraphRest.is-shown {
display: inline;
}

.paragraphRest.is-not-shown {
display: none;
}

.articleButtonContainer{
position: absolute;
bottom: 0;
margin-bottom:5px;
width:90%;
left:50%;
margin-left:-43%;
}

#btnShare {
overflow:hidden;
padding:0px;
width:96px;
height:26px;
margin:3px;
}

#shareContainer{
-webkit-transition: 0.2s;
-moz-transition: 0.2s;
-ms-transition: 0.2s;
-o-transition: 0.2s;
transition: 0.2s;
transition-delay: 0.2s;
-webkit-transition-delay: 0.2s; /* Safari */
display:block;
padding-top:3px;
padding-bottom:3px;
padding-left:4px;
height:50px;
}

#fb,#tw {
margin-top:12px;
margin-left:13px;
font-size: 20px;
}

#fb:hover,#tw:hover {
color:#002828;
}

#shareContainer:hover{
margin-top:-30px;
}


.btn .articleScore {
width:28px;
float:left;
text-align:center;
cursor:default;
}

.btn .btnUp , .btn .btnDown {
width:28px;
margin-left:2px;
float:left;
color:#568a8f;
}

.btn .btnUp:hover, .btn .btnDown:hover {
color:#002828;
}

.btnRead {
cursor:pointer;
}


