html {
overflow-y: scroll;
}

::-webkit-scrollbar {
width: 9px;
}

::-webkit-scrollbar-track {
border-radius: 10px;
background-color:rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background-color:rgba(0, 36, 36, 0.5);
}

body {
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
background-color: #b4e8cc;
color: #002424;
}

.container {
left:5%;
width:90%;
margin: 0 auto;
margin-top:20px;
overflow:hidden;

-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-ms-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;
}

.container.clicked {
margin-top:60px;
}

#staticSearchBar {
width: 100%;
position: absolute;
z-index:6;
color:white;
display: block;
-webkit-transition: opacity 0.8s ease-out;
-webkit-transition: height 0.3s ease-out;
opacity: 0;
height: 0;
overflow: hidden;
}

#staticSearchBar.clicked {
opacity: 1;
height: 40px;
}

#staticSearchBar form {
width: 480px;
margin: 0 auto;
}

#staticNav {
width: 100%;
position: relative;
z-index:5;
background-color: #b4e8cc;
-webkit-transition: padding-top 0.3s ease-out;
}

#staticNav.clicked {
padding-top:40px;
}

#logo {
display: block;
width: 382px;
margin: 0 auto;
margin-bottom:20px;
}

#logo img {
width:382px;
heigth:198px;
}

nav {
width: 550px;
height: 50px;
margin-top:5px;
margin-left: auto;
margin-right: auto;
}

@media screen and (max-width: 580px){
nav {
width: 270px;
}

#logo {
width: 232px;
}

#logo img {
width:232px;
heigth:48px;
}
}

.menu-btn a:link, .menu-btn a:visited, .menu-btn a:hover, .menu-btn a:active {
color: #002424;
}

.menu-btn a{
text-decoration:none;
text-align: center;
display:block; /* important */
}

.menu-btn, .first-link{
-webkit-transition: 0.2s;
-moz-transition: 0.2s;
-ms-transition: 0.2s;
-o-transition: 0.2s;
transition: 0.2s;
transition-delay: 0.0s;
-webkit-transition-delay: 0.0s; /* Safari */
}

.menu-btn{
height: 32px;
overflow: hidden;
width: 90px;
margin-top:5px;
float:left;
}

.menu-btn:hover{
}

.menu-btn a:hover{
text-decoration: none;
}

.first-link{
height: 32px;
}

.menu-btn:hover .first-link{
margin-top: -30px;
}

#menuArchive, #searchIcon {
zoom: 85%;
}

#searchIcon, #menuHome {
margin-top: -1px;
}

#menuNewArticle {
zoom: 90%;
}

#menuProfile {
zoom: 95%
}

#movingContent {
margin-top: 80px;
}

.masonry {
margin: 0 auto;
margin-top:40px;
}

.item{
float: left;
background-color: #f9f6ef;
margin: 15px;
padding: 15px;
border-radius: 3px;
width: 210px;
height: 330px;
overflow:hidden;
font-size:14px;
box-shadow: 0px 0px 15px #888888;
}

.item-content {
padding:0px;
margin:0px;
}

.item.is-expanded{
width: 450px;
height: 690px;
z-index: 2;
}

.paragraphRest {
display: none;
}

.paragraphRest.is-shown {
display: inline;
}

.paragraphRest.is-not-shown {
display: none;
}

.btnShare, .btnRead, .btnRating, .btnDetail{
display: block;
padding:5px;
height:20px;
margin-top:5px;
border:1px solid #002424;
border-radius:3px;
}

.btnShare:link, .btnRead:link, .btnRating:link, .btnDetail:link,
.btnShare:visited, .btnRead:visited, .btnRating:visited, .btnDetail:visited,
.btnShare:active, .btnRead:active, .btnRating:active, .btnDetail:active {
color: #002424;
}

.btnShare:hover, .btnRead:hover, .btnRating:hover, .btnDetail:hover {
color: #002424;
background-color:#568a8f
}

.btnShare, .btnRead {
width:90px;
float:right;
}

.btnDetail, .btnRating{
width:90px;
float:left;
}
