body {
background-color: #b4e8cc;
color: #002424;
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.container {
left:5%;
width:90%;
position:absolute;
text-align:center;
}

#staticContent {
width: 90%;
position: fixed;
z-index:50;
background-color: #b4e8cc;
}

header {
margin-left:15%;
width:60%;
height: 70px;
margin-top: 10px;
}

#logo {
position: relative;
float: left;
width: 175px;
height:70px;
}

nav {
position: relative;
float: right;
width: 40%;
height: 35%;
top:35%;
text-align:right;
}

nav a {
margin-left: 15px;
}

nav a:link, nav a:visited, nav a:hover, nav a:active {
color: #002424;
}

#menuArchive, #menuSearch {
zoom: 85%;
}

#menuNewArticle {
zoom: 90%;
}

#menuProfile {
zoom: 95%
}

#tags {
height: 50px;
}

#movingContent {
margin-top: 80px;
}

.masonry {
margin: 0 auto;
}

.item {
float: left;
background-color: #f9f6ef;
margin: 15px;
padding: 30px;
border-radius: 3px;
width: 180px;
height: 300px;
overflow:hidden;
}

.item-content {
}

.item.is-expanded{
width: 450px;
height: 690px;
z-index: 2;
}

.paragraphRest {
    display: none;
}

.paragraphRest.is-shown {
    display: inline;
}

.paragraphRest.is-not-shown {
    display: none;
}

#disclaimer {
width:80%;
margin: 0 auto;
border-top-style:solid;
border-top-width:1px;
border-top-color: #568a8f;
margin-top:20px;
padding-top:20px;
padding-bottom:20px;
}