#content {
width:580px;
margin:0 auto;
margin-top:40px;
}

.scoreImage{
float:left;
margin-right:90px;
}

.scoreImage img{
height:300px;
}

#ratingText{
float:left;
margin-top:25px;
}

.rating {
float:left;
width:110px;
margin-left:3px;
}

#email{
font-size:28px;
font-weight:800;
}

#logout{
text-decoration:none;
font-size:14px;
}

#logout:link, #logout:visited, #logout:hover, #logout:active {
color: #568a8f;
}

@media screen and (max-width: 650px){
#content {
width:300px;
margin:0 auto;
}

.scoreImage{
position:absolute;
margin-top:270px;
margin-left:69px;
}
}