<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Newstopia</title>

    <link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/detail.css">

    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/detail.js"></script>
</head>

<body>
<div id="detail">
    <h1>{{articleData.article.title}}</h1>
        {% for paragraph in articleData.paragraphs %}
        <div id="content">
                <div id="paragraph">
                    <p>{{paragraph.paragraph.text}}</p>
                </div>
                <div id="rating">
                    <i class="fa fa-heart"></i> {{paragraph.paragraph.rating}}
                    <br>
                    <form method="post">
                        {% csrf_token %}
                        <button class="rating" type="submit" name="score" value="good"><i class="fa fa-plus fa-2x"></i></button>
                        <button class="rating" type="submit" name="score" value="bad"><i class="fa fa-minus fa-2x"></i></button>
                        <input type="hidden" name="paragraph" value="{{p.pk}}">
                    </form>
                </div>
                <div class="clearfix"></div>
        </div>
    {% endfor %}
    <form id="formparagraph" method="post">
        {% csrf_token %}
        <textarea name="new_paragraph" maxlength="400" placeholder="Write a new paragraph." rows="5" cols="35"></textarea>
        <br>
        <input type="submit" value="New Paragraph">
    </form>
</div>

<!--masonry scripts-->
<script type="text/javascript" src="{{STATIC_URL}}js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/classie.js"></script>

</body>

</html>