<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>NewsTopia</title>
    
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css">
    
    <!--	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
   	<script src="scripts.js"></script>-->
    <script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>
    <script language="javascript">
        var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
            'August', 'September', 'October', 'November', 'December'
        ];
        var tomorrow = new Date();
        tomorrow.setTime(tomorrow.getTime() + (1000 * 3600 * 24));
        document.getElementById("date").innerHTML = months[tomorrow.getMonth()] + " " + tomorrow.getDate() + ", " + tomorrow.getFullYear();
    </script>
</head>

<body>
    <container>
        <header>
            <div id="navLeft">
                <div id="date">datum:</div>
                <form id="search">
                    <input type="text" placeholder="Search" name="firstname">
                </form>
            </div>
            <img id="logo" alt="logo" src="{{STATIC_URL}}img/logo.png" />
            <div id="navRight">
                <div id="welcome">Welcome,</div>
                <div id="menu">
                    <i class="fa fa-camera-retro"></i> fa-camera-retro
                </div>
            </div>
        </header>
        <div id="tags">
            
        </div>
        <div id="articleContainer">
        {% for var in artpars %}
            <div class="articleSmall">
                <h3>{{ var.article.title }}</h3>
                <br>
                <p>
                {% for paragraph in var.paragraphs %}
                    {{ paragraph.text }}<br>
                {% endfor %}
                </p>
            </div>
        {% endfor %}
        </div>
        <div id="disclaimer">
            No right at all, do whatever the fuck you want.
        </div>
    </container>
</body>

</html>
