<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Newstopia</title>

    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/normalize.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/index.css">

    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.stickOnScroll.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/index.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.index.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/votes.js"></script>
</head>

<body>
<div id="staticSearchBar" class="staticBar">
    <form name="search" method="post">
        {% csrf_token %}
        <a href=""><i id="searchCommit" class="fa fa-search"></i></a>
        <input id="searchInput" class="input" type="text" name="searchString" placeholder="search">
    </form>
</div>
{% if not authenticated %}
<div id="staticLoginBar" class="staticBar">
    <form name="login" method="post" action="{% url 'account:login' %}">
        {% csrf_token %}
        <div id="emailInput">
            <i class="fa fa-child"></i>
            <input class="input" type="text" name="username" placeholder="email">
        </div>
        <div id="passwordInput">
            <i class="fa fa-lock"></i>
            <input class="input" type="password" name="password" placeholder="password">
        </div>
        <a id="submitLogin" class="btn">
            <i class="fa fa-user"></i>login</a>
        <a id="goToRegister" href="#">(I'm new here)</a>
    </form>
</div>
{% else %}
<div id="staticLoginBar" class="staticBar">
    <p>welcome {{user.email}} <a href="{% url 'account:logout'%}">logout</a></p>
</div>
{% endif %}
<div class="container">
    <div id="logo">
        <img alt="logo" src="{{STATIC_URL}}img/Logo-Newstopia.png"/>
    </div>
    <div id="staticNav">
        <nav>
            <div class="menuSplits">
                <div class="menu-btn">
                    <a class="first-link" href="{% url 'articles:index' %}">
                        <i id="menuHome" class="fa fa-home fa-2x"></i>
                    </a>
                    <a href="{% url 'articles:index' %}">
                        home
                    </a>
                </div>
                <div class="menu-btn">
                    <a class="first-link" href="{% url 'articles:about' %}">
                        <i id="menuAbout" class="fa fa-question fa-2x"></i>
                    </a>
                    <a href="{% url 'articles:about' %}">
                        about
                    </a>
                </div>
                <div id="menuSearch" class="menu-btn">
                    <a class="first-link" href="">
                        <i id="searchIcon" class="fa fa-search fa-2x"></i>
                    </a>
                    <a href="">
                        search
                    </a>
                </div>
            </div>
            <div class="menuSplits">
                <div class="menu-btn">
                    <a class="first-link" href="">
                        <i id="menuArchive" class="fa fa-archive fa-2x"></i>
                    </a>
                    <a href="">
                        archive
                    </a>
                </div>
                <div class="menu-btn">
                    <a class="first-link" href="{% url 'articles:create' %}">
                        <i id="menuNewArticle" class="fa fa-pencil fa-2x"></i>
                    </a>
                    <a href="{% url 'articles:create' %}">
                        new article
                    </a>
                </div>
                <div id="{% if authenticated %}menuProfileL{% else %}menuProfile{% endif %}" class="menu-btn">
                    {% if authenticated %}
                    <a class="first-link" href="{% url 'account:profile' %}">
                        <i id="ProfileIcon" style="float:left;width:25px;height 32px;margin-left:24px;" class="fa fa-user fa-2x"></i>

                        <h2 style="float:right;width:16px;height 32px;overflow:hidden;margin-top:3px;color:#568a8f;margin-right:24px;">{{ user.email }}</h2>
                    </a>
                    <a style="float:left;text-align:center;width:90px;height:32px;margin-left:0px;margin-top:-20px;" href="{% url 'account:profile' %}">
                        profile
                    </a>
                    {% else %}
                    <a class="first-link" href="">
                        <i id="ProfileIcon" class="fa fa-user fa-2x"></i>
                    </a>
                    <a href="">
                        login
                    </a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
    <div>
        <div class="masonry js-masonry" data-masonry-options='{ "isFitWidth": true }'>
            {% for article in articlesData %}
            {% if article.isBig %}
            <div class="item-big">
                {% else %}
                <div class="item">
                    {% endif %}
                    {% if article.isBig %}
                    <div class="item-content-big">
                        {% else %}
                        <div class="item-content">
                            {% endif %}
                            <b>{{ article.article.title }}</b>
                            {% for paragraph in article.paragraphs %}
                            {% if forloop.counter == 1 or article.isBig %}
                            <p>{{ paragraph.paragraph.text }}</p>
                            {% else %}
                            <p class="paragraphRest">{{ paragraph.paragraph.text }}</p>
                            {% endif %}
                            {% endfor %}
                            <div class="articleButtonContainer">
                                <div class="articleButtons">
                                    <div class="btn">
                                        {% if authenticated %}
                                        {% if not article.hasLiked %}
                                        <div class="btnUp" href="#">
                                            <i class="fa fa-thumbs-up"></i>
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                        {% if authenticated %}
                                        {% if not article.hasLiked %}
                                        <div class="btnDown" href="#">
                                            <i class="fa fa-thumbs-down"></i>
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                        <div class="articleScore">{{article.article.rating}}</div>

                                    </div>

                                    <a id="btnShare" class="btn" href="#">
                                        <div id="shareContainer">
                                            <i class="fa fa-share-alt"></i> share
                                            <i id="fb" class="fa fa-facebook"></i>
                                            <i id="tw" class="fa fa-twitter"></i>
                                        </div>
                                    </a>
                                    <a class="btn" href="{% url 'articles:detail' article.article.pk %}">
                                        <i class="fa fa-cog"></i> detail
                                    </a>
                                    {% if article.article_resize %}
                                        <div class="btn btnRead">
                                            <i class="fa fa-arrow-circle-down"></i> more
                                        </div>

                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!--masonry scripts-->
        <script type="text/javascript" src="{{STATIC_URL}}js/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/classie.js"></script>

</body>

</html>
