<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Newstopia</title>

    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/normalize.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/overlay.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/modernizr.custom.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>
</head>

<body>
<!--
{% if user.is_authenticated %}
<div class="welcome">Welcome, {{user.email}}</div>
{% else %}
<div class="welcome">Welcome, guest</div>
{% endif %}
-->
<div class="container">
    <div id="staticContent">
        <header>
            <img id="logo" alt="logo" src="{{STATIC_URL}}img/logo.png"/>
            <nav>
                <a href=#><i id="menuSearch" class="fa fa-search fa-2x"></i></a>
                <a href="{% url 'articles:create' %}"><i id="menuNewArticle" class="fa fa-pencil fa-2x"></i></a>
                <a href=#><i id="menuArchive" class="fa fa-archive fa-2x"></i></a>
                <a href=#><i id="trigger-overlay" class="fa fa-question fa-2x"></i></a>
                <a href="{% url 'account:profile' %}"><i id="menuProfile" class="fa fa-user fa-2x"></i></a>
            </nav>
        </header>
        <div id="tags">
        </div>
    </div>
    <div id="movingContent">
        <div class="masonry js-masonry" data-masonry-options='{ "isFitWidth": true }'>
            {% for article in articlesData %}
            <div class="item">
                <div class="item-content">
                    <h3>{{ article.article.title }}</h3>
                    <br>
                    {% for paragraph in article.paragraphs %}
                    <p>{{ paragraph.paragraph.text }}</p>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="overlay overlay-contentpush">

    <i class="overlay-close" class="fa fa-times"></i>

</div>

<!--Overlay scripts (also uses classie)-->
<script type="text/javascript" src="{{STATIC_URL}}js/overlay.js"></script>

<!--masonry scripts-->
<script type="text/javascript" src="{{STATIC_URL}}js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/classie.js"></script>

</body>

</html>
