<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}EHBHotel{% endblock %}</title>
</head>

<body>
    <div id="content">
        {% block content %}
            <form action="" method="post">
                {% csrf_token %}
                {% if form.errors %}<p>Please correct the following fiels:</p>{% endif %}
                <table>
                    <tr>
                        <td><label for="username" {% if form.username.errors %} class="error" {% endif %} >Username: </label></td>
                        <td>{{ form.username }}</td>
                        {% if form.username.errors %}<td>{{ form.username.errors }}</td>{% endif %}
                    </tr>
                    <tr>
                        <td><label for="password" {% if form.password.errors %} class="error" {% endif %} >Password: </label></td>
                        <td>{{ form.password }}</td>
                        {% if form.password.errors %}<td>{{ form.password.errors }}</td>{% endif %}
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" value="Login" /></td>
                    </tr>
                </table>
            </form>
        {% endblock %}
    </div>
</body>
</html>
